body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #345B63;
}
.fas{
  color: gold;
}
span{
  color: rgb(102, 102, 102);
  margin-left: 5px;
}
.main{
  background-color: #C8C6C6;
}
strong{
  color: #2B2E4A;
  font-size: 45px;
}
#addToCart-btn{
  background-color: #2B2E4A;
  border: none;
}
#details-btn{
  background-color: #E84A5F;
  border: none;
}
#buy-now{
  background-color: #2B2E4A ;
  border: none ;
  color: #fff ;
}
#search-input {
  width: 500px;
  border: none;
  border-radius: 15px;
  padding: 10px;
  padding-left: 25px;
  box-shadow: 4px 4px 5px #1e1e1e4f;
  outline: none;
  margin-left: 35px;
}
#search-btn {
  background: #E84A5F;
  color: #fff;
  padding: 9px 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 5px #1e1e1e4f;
  border: none;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 15px;
  transition: 0.6s;
  background-color: #fff;
  border: 1px transparent;
}
.single-product:hover {
  box-shadow: 10px 10px 15px gray;
  border-radius: 10px;
  border: 1px solid #2B2E4A;
  transform: scale(1.02);
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: #fff;
}
.cart-main {
  padding-right: 30px;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

